body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 50px;
}

ol, ul {
  padding-left: 30px;
  font-size: 20px;
}

ol li{
  margin: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-board {
  position: absolute;
  top: 10%;
  left: 10%;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 70%;
  font-size: 30px;
}

.game-buttons{
  font-size: 18px;
  border-radius: 10px;
}
